.dropbox-icon.uptodate {
  animation: none;
  -gtk-icon-source: -gtk-icontheme("dropbox-symbolic-x");
}

.search_header {
  background-color : #3689e6
}

.file_entry {
    padding: 6px 0px 6px 6px
}

.file_icon {
    margin-right: 6px
}

.file_text {
  font-size: 12px;
  color: #000

}
.path_text {
  color : #666;
  font-size: 10px;

}
link, link:active, link:focus,link:hover {
    color: #666;

}

.place_holder_large {
    margin : 10px;
}

.container {
    padding: 6px 6px 6px 8px;
}
